version: '3'

services: 
    influxdb:
        hostname: influxdb
        image: docker.io/influxdb:2.7
        ports:
            - 8086:8086
        container_name: influxdb
        environment:
            - DOCKER_INFLUXDB_INIT_USERNAME=admin
            - DOCKER_INFLUXDB_INIT_PASSWORD=<password>
            - DOCKER_INFLUXDB_INIT_ORG=<Organization>
            - DOCKER_INFLUXDB_INIT_BUCKET=BucketInit
            - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN="myAdminT0ken"
        volumes:
            - /<hostpath>/InfluxDB:/var/lib/influxdb2
            - /<hostpath>/InfluxDB/config.yml:/etc/influxdb2/config.yml
            - /<hostpath>/InfluxDB/influx-configs:/etc/influxdb2/influx-configs
        restart: unless-stopped

    telegraf:
        hostname: telegraf
        image: docker.io/telegraf
        cap_add:
          - cap_net_raw
        ports:
            - 8125:8125
            - 8092:8092
            - 8094:8094
        container_name: telegraf
        volumes:
            - /<hostpath>/telegraf.conf:/etc/telegraf/telegraf.conf
        depends_on:
            - influxdb
        restart: unless-stopped
